.container {
  padding: 20px 200px;
}

.list-product {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 30px;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #beceff;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.header img{
  width: 28%;
}
.cart-total {
  display: flex;
  justify-content: space-between;
}