#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 70px;
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-header .door-status {
  padding: 0 24px;
  font-weight: bold;
}

.flex-header .door-status .door-switch {
  margin-left: 10px;
  width: 75px;
}